html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background: #333;
}

#demo {
    background: #fff;
    width: 480px;
    height: 100%;
    float: left;
}

#editorFrame {
    position: absolute;
    left: 481px;
    height: 100%;
    width: 480px;
}

#editorTools {
    margin: 0;
    padding: 0;
    list-style-type: none;
    background: #c8c8c8;
}

#editorTools li {
    padding: 4px;
}

#editor {
    width: 100%;
}

#guidat {
    position: absolute;
    left: 0;
    width: 100px;
}

.guidat {
    opacity: 0.75;
    float: left;
    clear: left;
    z-index: 1001;
    margin: 5px 0 0 5px;
}

@media screen and (max-width: 640px) {
}